<h1>COMMENTAIRE HOME</h1>

{% for commentaire in commentaire %}
    <time>{{ commentaire.date|date('d M Y') }}</time><br><br>
    {{ commentaire.texte }}
    {{ commentaire.pseudo }}
    
<a href="{{ path('commentaireEditer', {'id':commentaire.id}) }}">editer profil</a>
<a href="{{ path('commentaireDelete', {'id':commentaire.id}) }}">Supprimer</a>
{% endfor %}
