{% extends "::template.html.twig" %}


{% block body %}
    <div class="container">
        <h3> Créer un article </h3>
        <div class=" col-lg-8 col-lg-offset-2">
            <div class="form-group">
                {{form_start(formArticle,{'attr':{'action':path('addArticle')}})}}
                {#,{'attr':{'action':path('addArticle')}}#}
            </div>
            <div>
                {{ form_row(formArticle.categorie,{'attr':{'class' : 'form-control'}})}}                            <br>
            </div>
            <div>
                <button type="submit" class="btn">
                    {{ form_row(formArticle.image)}}
                </button>
            </div>
            <div>
                {{ form_row(formArticle.titre,{'attr':{'class' : 'form-control'}}) }}
                <br>
            </div>
            <span class="input-group-btn">

                <span class="glyphicon glyphicon-search"></span>

            </span>
            {#</div>#}

            <!-- creation d'article -->
            <div class="well">
                <form role="form">
                    <div class="form-group">
                        {#            <textarea class="form-control" rows="3"></textarea>#}
                        {{ form_row(formArticle.texte,{'attr':{'class' : 'form-control'}}) }}

                    </div>

                    {{ form_widget(formArticle.brouillon,{'attr':{'class' : 'form-control'}}) }}

                    <input type="submit" class="btn btn-primary" value="Publier">
                    {#{{form_end(formArticle)}}#}

                </form>
            </div>

            <hr>
        </div>
    </div>
{% endblock %}
