<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Javary,Weppe,Leforestier,Fournival">

        <title>blog certif</title>

        <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('externe/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('externe/css/blog-post.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('externe/css/text.css') }}" type="text/css" media="all" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('home')}}">Blog Certif |</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#                        Boucle sur chaque élément pour afficher une liste de categorie prévus dans une variable appelée categories #}
                        {% for categorie in categories %}
                            <li>
                                <a href="{{path('categorie',{'categories':categorie.nom})}}">{{categorie.nom}}</a>
                            </li>
                        {% endfor %}
                        {#                        <li>
                                                    <a href="#">Football</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rugby</a>
                                                </li>
                                                <li>
                                                    <a href="#">Tennis</a>
                                                </li>
                                                <li>
                                                    <a href="#">eSport</a>
                                                </li>#}
                        <li>
                            <a href="{{path('connexion')}}" class="btn btn-success" style=color:white;>Connexion</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{path('profil',{'id':2})}}">voir profil</a>
                                    </li>
                                    <li>
                                        <a href="{{path('home')}}">Déconnexion</a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% block body %}{% endblock %}
    <!-- /footer -->
        <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h3>Certif Blog</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>Categories </h3>
                        <ul>
                            <li><a href="#">tennis </a></li>
                            <li><a href="#">ping pong</a></li>
                            <li><a href="#">poney </a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>A propos de nous</h3>
                        <ul>
                            <li><a href="#">on est bo</a></li>
                            <li><a href="#">ki on est?</a></li>
                            <li><a href="#">combien on vend?</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Certif Blog© 2016</p>
            </div>
        </footer>
    </div>
    <!-- /footer -->
    <!-- jQuery -->
    <script src="{{ asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.js') }}"></script>

    <!-- Own JavaScript -->
    <script src="{{ asset('externe/js/script.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
