<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Javary,Weppe,Leforestier,Fournival">
        <meta name="description" content="Blog contenant l'actualitée de divers sports">
        <meta name="keywords" content="blog, actu foot, foot, sport, rugby, tennis, e-sport, esport, news,">

        <title>sportNews</title>

        <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('externe/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('externe/css/blog-post.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('externe/css/text.css') }}" type="text/css" media="all" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('home')}}">Blog Certif |</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#                        Boucle sur chaque élément pour afficher une liste de categorie prévus dans une variable appelée categories #}
                        {% for categorie in categories %}
                            <li>
                                <a href="{{path('categorie',{'categories':categorie.nom})}}">{{categorie.nom}}</a>
                            </li>
                        {% endfor %}
                        {#                        <li>
                                                    <a href="#">Football</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rugby</a>
                                                </li>
                                                <li>
                                                    <a href="#">Tennis</a>
                                                </li>
                                                <li>
                                                    <a href="#">eSport</a>
                                                </li>#}
                        <li>
                            <button class="btn" onclick="openNav(1);" style=color:white;>Connexion</button>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{path('profil',{'id':2})}}">voir profil</a>
                                    </li>
                                    <li>
                                        <a href="{{path('home')}}">Déconnexion</a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <section id="login" class="sidediv">
            <div class="container">  
                <a href="javascript:void()" class="closebtn" onclick="closeNav(1)">×</a>
                <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                    <div class="panel panel-info" >
                        <div class="panel-heading">
                            <div class="panel-title">Connexion</div>
                            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Mot de passe oublié ?</a></div>
                        </div>     

                        <div style="padding-top:30px" class="panel-body" >

                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                            <form id="loginform" class="form-horizontal" role="form">

                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="email">                                        
                                </div>

                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="mot de passe">
                                </div>



                                <div class="input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="login-remember" type="checkbox" name="remember" value="1"> Se souvenir de moi
                                        </label>
                                    </div>
                                </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                        <a id="btn-login" href="#" class="btn btn-success">Connexion</a>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Pas de compte ?
                                            <a href="#" onClick="$('#loginbox').hide();
                                                    $('#signupbox').show()">
                                                Inscrivez vous ici
                                            </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
                </div>
                <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Inscription</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide();
                                    $('#loginbox').show()">Déjà un compte ? Connectez-vous</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form">

                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Erreur:</p>
                                    <span></span>
                                </div>



                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">Prenom</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firstname" placeholder="Prenom">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Nom</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="lastname" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Mot de passe</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Mot de passe">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Validez</button>  
                                    </div>
                                </div>

                                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">


                                </div>



                            </form>
                        </div>
                    </div>




                </div> 
            </div>
        </section>
        {% block body %}

        {% endblock %}
        <!-- /footer -->
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 item text">
                            <h3>Certif Blog</h3>
                            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                        </div>
                        <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                            <h3>Categories </h3>
                            <ul>
                                {% for categorie in categories %}
                                    <li>
                                        <a href="{{path('categorie',{'categories':categorie.nom})}}">{{categorie.nom}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                            <h3>A propos de nous</h3>
                            <ul>
                                <li><a href="#">on est bo</a></li>
                                <li><a href="#">ki on est?</a></li>
                                <li><a href="#">combien on vend?</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Certif Blog© 2016</p>
                </div>
            </footer>
        </div>
        <!-- /footer -->
        <!-- jQuery -->
        <script src="{{ asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.js') }}"></script>

        <!-- Own JavaScript -->
        <script src="{{ asset('externe/js/script.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
