{% extends "::template.html.twig" %}


{% block body %}
    {% for article in article %}

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <!-- Blog Post Content Column -->
                <div class="col-lg-8">
                    
                    

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1>{{ article.titre }}</h1>
                    <h2>{{ article.categorie }}</h2>

                    <!-- Author -->
                    <p class="lead">
                        par <a href="#">Kirikou l'homme sombre</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> Publié le <time>{{ article.date|date('d M Y') }}</time>.</p>

                    <hr>

                    <!-- Preview Image -->
                    <img class="img-responsive" src="{{ article.image }}" alt="">

                    <hr>

                    <!-- Post Content -->
                    <p class="lead">{{ article.texte }}</p>

                    <hr>

                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    <div class="well">
                        <h4>Laissez un commentaire:</h4>
                        {#<form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyez</button>
                        </form>#}
                        {{form_start(formCommentaire,{'attr':{'action':path('addCommentaire', {'id':article.id})}})}}
                        <div class="form-group">
                            {{ form_row(formCommentaire.texte,{'attr':{'class' : 'form-control'}}) }}
                        </div>
                        {{ form_row(formCommentaire.pseudo) }}
                        {{ form_row(formCommentaire.valider,{'attr':{'class' : 'btn btn-primary'}}) }}

                        {{form_end(formCommentaire)}}
 
                    </div>

                    <hr>


                    <!-- Comment -->
                    {% for commentaire in commentaire %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            
                            <h4 class="media-heading">{{ commentaire.pseudo }}
                                <small><time>{{ commentaire.date|date('d M Y') }}</time></small>
                                <div id="holder">
<div class="box entypo-thumbs-up"> Like</div>
</div>
                                
                            </h4>
                            {{ commentaire.texte }}
                        </div>
                    {% endfor %}
                    <!-- Comment -->
                    {#<div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Jonathan Fournival
                                <small>le 19 octobre à 19 h 58</small>
                            </h4>
                            Je suis incroyablement surpris par les compétences de monsieur Leforestier, j'ai toujours vu le potentiel que d'autres sous-estimer et je suis heureux de voir qu'aujourd'hui celà est enfin payant pour lui, je lui souhaite une longue carrière au sein de la grande famille de la pétanque ! Amis du cochonnet salut !
                            <!-- Nested Comment -->
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Maddyson Weppe
                                        <small>le 19 octobre à 19 h 58</small>
                                    </h4>
                                    Formidable quel personne exceptionnel 
                                </div>
                            </div>
                            <!-- End Nested Comment -->
                        </div>
                    </div>#}

                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>Recherche Blog</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Catégories du Blog</h4>
                        <div class="row">
                            {% for categorie in categories %}
                                {#on boucle sur categorie si il est pair alors il est mis dans la colone de gauche#}
                                {% if loop.index is divisibleby(2) %}
                                    <div class="col-lg-6">
                                        <ul class="list-unstyled">

                                            <li>
                                                <a href="{{path('categorie',{'categories':categorie.nom})}}">{{categorie.nom}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    {# sinon il est mis dans la colone de gauche#}
                                {% else %}
                                    <div class="col-lg-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="{{path('categorie',{'categories':categorie.nom})}}">{{categorie.nom}}</a>
                                            </li>

                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Les dernières actus !</h4>
                        <p>Ici nous publierons les dernières actualités publiés par l'administrateur.</p>
                    </div>

                </div>

            </div>
            <!-- /.row -->

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Beweb 2016</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>

        </div>
        <!-- /.container -->
    {% endfor %}
{% endblock %}
