{% extends "::template.html.twig" %}
{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            {% for article in articles %}

                <!-- Blog Post Content Column -->
                <div  class="container">
                    <hr>
                    <div class="col-md-12" >
                        <div class="col-md-6" >
                            <!-- Preview Image -->
                            <img class="img-responsive" src="{{ asset('externe/images/rugby.jpg') }}" alt="">
                        </div>
                        <div class="col-md-6" >
                            <div class="article">
                                <!-- Blog article -->

                                <!-- Title -->
                                <h1 class="titre">{#The Kicking MACHINE#}{{article.titre}}</h1>

                                <!-- Post Content -->
                                <p class="bliat">{{article.texte}}</p>
                                <a href="{{path('idDetail',{'id':article.id})}}">
                                    en voir +
                                </a>
                                <p><span class="glyphicon glyphicon-time"></span> Publié le <time>{{ article.date|date('d M Y') }}</time>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.row -->

{% endblock %}