{% extends "::template.html.twig" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="page-header">
          <h1>Blog de JSAIPAKi</h1>
          <span class="icon-bar">
            <i class="glyphicon glyphicon-tower" aria-hidden="true"></i>
          </span>
          <h2>Articles Récents</h2>
        </div>
	</div>
</div>
    <!-- Page Content -->
    <div class="container">
        {% for article in article %}
        <div class="row">

            <!-- Blog Post Content Column -->
            <div  class="container">
                <hr>
                <div class="col-md-12" >
                    <div class="col-md-6" >
                        <!-- Preview Image -->
                        <img class="img-responsive" src="{{ asset('externe/images/rugby.jpg') }}" alt="">
                    </div>


                    <div class="col-md-6" >
                        <div class="article">
                            <!-- Blog article -->

                            <!-- Title -->
                            <h1 class="titre">The Kicking MACHINE</h1>

                            <!-- Post Content -->
                            <p class="bliat">JONNY WILKINSON - "The Kicking MACHINE"
                                Sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac sem lac. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dictum vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac lacus. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dict vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                            <a href="{{ path('idDetail', {'id':article.id}) }}">
                                en voir +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->



</div>
</div>

</div>
<!-- /.row -->
</div>

</div>

</div>
<!-- /.row -->





</div>
<!-- /.container -->

    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div  class="container">
                <hr>
                <div class="col-md-12" >
                    <div class="col-md-6" >
                        <!-- Preview Image -->
                        <img class="img-responsive" src="{{ asset('externe/images/rugby.jpg') }}" alt="">
                    </div>


                    <div class="col-md-6" >
                        <div class="article">
                            <!-- Blog article -->

                            <!-- Title -->
                            <h1 class="titre">The Kicking MACHINE</h1>

                            <!-- Post Content -->
                            <p class="bliat">JONNY WILKINSON - "The Kicking MACHINE"
                                Sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac sem lac. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dictum vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac lacus. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dict vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                            <a href="{#{{path('idDetail',{'id':article.id})}}#}">
                                en voir +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->



</div>
</div>

</div>
<!-- /.row -->
</div>

</div>

</div>
<!-- /.row -->





</div>
<!-- /.container -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div  class="container">
                <hr>
                <div class="col-md-12" >
                    <div class="col-md-6" >
                        <!-- Preview Image -->
                        <img class="img-responsive" src="{{ asset('externe/images/rugby.jpg') }}" alt="">
                    </div>


                    <div class="col-md-6" >
                        <div class="article">
                            <!-- Blog article -->

                            <!-- Title -->
                            <h1 class="titre">The Kicking MACHINE</h1>

                            <!-- Post Content -->
                            <p class="bliat">JONNY WILKINSON - "The Kicking MACHINE"
                                Sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac sem lac. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dictum vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac lacus. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dict vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                            <a href="{#{{path('idDetail',{'id':article.id})}}#}">
                                en voir +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->



</div>
</div>

</div>
<!-- /.row -->
</div>

</div>

</div>
<!-- /.row -->





</div>
<!-- /.container -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div  class="container">
                <hr>
                <div class="col-md-12" >
                    <div class="col-md-6" >
                        <!-- Preview Image -->
                        <img class="img-responsive" src="{{ asset('externe/images/rugby.jpg') }}" alt="">
                    </div>


                    <div class="col-md-6" >
                        <div class="article">
                            <!-- Blog article -->

                            <!-- Title -->
                            <h1 class="titre">The Kicking MACHINE</h1>

                            <!-- Post Content -->
                            <p class="bliat">JONNY WILKINSON - "The Kicking MACHINE"
                                Sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac sem lac. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dictum vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac lacus. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dict vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                            <a href="{#{{path('idDetail',{'id':article.id})}}#}">
                                en voir +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->



</div>
</div>

</div>
<!-- /.row -->
</div>

</div>

</div>
<!-- /.row -->





</div>
<!-- /.container -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div  class="container">
                <hr>
                <div class="col-md-12" >
                    <div class="col-md-6" >
                        <!-- Preview Image -->
                        <img class="img-responsive" src="{{ asset('externe/images/rugby.jpg') }}" alt="">
                    </div>


                    <div class="col-md-6" >
                        <div class="article">
                            <!-- Blog article -->

                            <!-- Title -->
                            <h1 class="titre">The Kicking MACHINE</h1>

                            <!-- Post Content -->
                            <p class="bliat">JONNY WILKINSON - "The Kicking MACHINE"
                                Sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac sem lac. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dictum vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                                Vivamus ac lacus. Ut vehicula rhoncus elementum.
                                Etiam quis tristique lectus.
                                Aliquam in arcu eget velit pulvinar dict vel in justo.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                            <a href="{#{{path('idDetail',{'id':article.id})}}#}">
                                en voir +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->



</div>
</div>

</div>
<!-- /.row -->
</div>

</div>

</div>
<!-- /.row -->





</div>
<!-- /.container -->
<br/>
<br/>
<br/>


{% endblock %}
