{% extends "::template.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Blog de JSAIPAKi</h1>
                <span class="icon-bar">
                    <i class="glyphicon glyphicon-tower" aria-hidden="true"></i>
                </span>
                <h2>Articles Récents</h2>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="container">
        <a href="{{path('addArticle')}}" class="btn btn-primary">Ajouter articles</a>
        {% for article in articles %}
            <div class="row">

                <!-- Blog Post Content Column -->
                <div  class="container">
                    <hr>
                    <div class="col-md-12" >
                        <div class="col-md-6" >
                            <!-- Preview Image -->
                            <img class="img-responsive" src="{{ asset('externe/images/rugby.jpg') }}" alt="">
                        </div>


                        <div class="col-md-6" >
                            <div class="article">
                                <!-- Blog article -->

                                <!-- Title -->
                                <h1 class="titre">{{article.texte}}</h1>

                                <!-- Post Content -->
                                <p class="bliat">
                                    {{article.texte}}
                                </p>
                                <a href="{{ path('idDetail', {'id':article.id}) }}">
                                    en voir +
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->


{% endblock %}
