{% extends "::template.html.twig" %}


{% block body %}

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Ajout et suppression des catégories</div>

                </div>     
                {{form_start(formCategorie,{'attr':{'action':path('valide')}})}}
                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form">



                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                            {{form_widget(formCategorie.nom,{'attr':{'class':'form-control','placeholder':'ajoutez une catégorie'}})}}
                        </div>



                        <div class="input-group">
                            <div class="checkbox">
                                <ul>
                                    {% for categorie in categories %}
                                        <li style="list-style-type: none">
                                            <a id="btn-login" style="margin-bottom:10px" href="{{path('supp', {'id':categorie.id})}}" class="btn btn-danger">Supprimez {{categorie.nom}}</a>
                                            {#                                        <a id="btn-login" style="margin-bottom:10px" href="{{path('supp', {'id':categorie.id})}}" class="btn btn-danger">Supprimez {{categorie.nom}}</a>#}
                                        </li>
                                        {#             <label><input id="login-remember" type="checkbox" name="remember" value="Rugby" checked>Football</label><br/>
                                                     <label><input id="login-remember" type="checkbox" name="remember" value="Tennis" checked>Football</label><br/>
                                                     <label><input id="login-remember" type="checkbox" name="remember" value="eSport" checked></label><br/>#}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> 


                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <input type="submit" class="btn btn-success" value="Ajoutez">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
